@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-3" style="padding-top:40px">
        <img src="/Images/HospiceNiagarasLOGO.jpg">
    </div>
    <div class="col-md-offset-4">
        <div class="jumbotron visible-lg visible-md visible-sm">
            <h1>Announcements:</h1>
            <p class="col-md-pull-3"><b>News: </b><br />
            Niagara Hospice to release a new log-in portal<br />
            New streak: Two weeks, no deaths<br />
            Cancer: Will it blend?</p>
            <p class="col-sm-push-1 text-danger">0 death notices.</p>
            <p><a href="~/Announcements/Index.cshtml" class="btn btn-primary btn-lg col-md-push-2">Go to Announcements &raquo;</a></p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Meetings</h2>
        <p>Meetings at a glance.</p>
        <p>@Html.ActionLink("Go to Meetings >>", "Index", "../Meetings/Meetings.cshtml", new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-3">
        <h2>Schedules</h2>
        <p>Schedules at a glance.</p>
        <p>@Html.ActionLink("Go to Schedules >>", "../Schedules/Schedules.cshtml", "Home", new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-3">
        <h2>Contacts</h2>
        <p>Contacts at a glance.</p>
        <p>@Html.ActionLink("Go to Contacts >>", "Contacts", "Home", new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-3">
        <h2>Resources</h2>
        <p>Resources at a glance.</p>
        <p>@Html.ActionLink("Go to Resources >>", "Resources", "Home", new { @class = "btn btn-default" })</p>
    </div>
</div>